.products__item {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    z-index: 5;
    background-color: #fff;
}

.products__item:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    background-color: #fff;
}