.products__about {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 470px;
}

@media screen and (max-width: 767px) {
    .products__about {
        max-width: 320px;
        position: relative;
    }
}