.content__name {
    margin: 0;
    text-align: center;
	font-family: 'Roboto Condensed';
	font-weight: 700;
    font-size: 56px;
    padding: 100px 0 0;
    position: absolute;
    top: 150px;
}

@media screen and (max-width: 767px) {
    .content__name {
        font-size: 26px;
        margin-left: 5px;
    }
}