.products__images {
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 767px) {
    .products__images {   
        order: 2;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 10px;
    }
}