.counter {
    position: absolute;
    bottom: 20px;
    right: 1px;
    height: 20px;
    width: 60px;
    z-index: 2;
    text-align: center;
    color: #fff;
    line-height: 21px;
    font-size: 13px;
    opacity: 0;
    transition: opacity 0.3s;
}