.nav__item {
    margin-right: 100px;
	font-family: 'Oswald';
	font-style: normal;
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .nav__item {
        margin-right: 20px;
        font-size: 14px;
    }
}

.nav__item:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.6;
}

.nav__item:last-child {
    margin-right: 0;
}