.nav__item {
    margin-right: 100px;
	font-family: 'Open Sans';
    font-weight: normal;
    font-size: 20px;
}

.nav__item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav__item:last-child {
    margin-right: 0;
}