.products__buttons-group {
    display: flex;
    align-items: center;
    max-width: 300px;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .products__buttons-group {
        padding: 10px 0;
    }
}