.carousel {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .carousel {
      width: 200px;
      height: 200px;
      margin-top: 10px;
    }
}

.carousel:hover .slide:after,
.carousel:hover .counter,
.carousel:hover .slide:before {
  opacity: 1;
}
