.header__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-items: center;
    background-color: #fff;
}

@media screen and (max-width: 767px) {
    .header__conteiner {
        flex-direction: column;
    }
}